<div id='moods' class="container">
	<% if current_user.access == 'admin' %>
<div class="form-group">
<h1>Moods</h1>
<%= link_to "Add new mood", new_mood_path, :class => "btn btn-primary" %>
</div>
<!-- LIST OF MOODS -->
<ul>
	<!-- order these by date created -->
	<% @moods.order("created_at desc").each do |mood| %>

	<li> 
		<!--<%#= image_tag mood.photo %><br>-->
		<%= link_to mood.name, mood_path(mood) %> - <%= mood.description %> - <%= mood.selected %>
		<br>
		<br>
	</li>
	
	<% end %>
</ul>

<% else %>
<br>
Not for your prying eyes!<br>
<br>
<% end %>


</div>