<div class="container">
	<% if current_user.access == 'admin' %>
		<h1>New Mood</h1>
		<!-- it wants "@moods" -->
		<%= render 'moodform' %>
	<% else %>
		Sorry, this page is not for your prying eyes!
	<% end %>
</div>