<div class="container">
	<% if current_user.access == 'admin' %>
		<h1>New Mood</h1>
		<!-- it wants "@moods" -->
		<%= render 'moodform' %>
	<% else %>
		<%= render '/layouts/restricted' %>
	<% end %>
</div>