<div id="dayparts" class="container">
	<% if logged_in? && current_user.access == 'admin' %>
		<div class="form-group">
		<h1>Dayparts</h1>
		<%= link_to "Create New Daypart", new_daypart_path, :class => "btn btn-primary" %>
		</div>
		<table>
			<tr>
				<th>Name</th>
				<th>Photo</th>
			</tr>
			<ul>
			<!-- LIST OF DAYPARTS -->
				<% @dayparts.order("name asc").each do |daypart| %>
					<tr>
						<td><%= link_to daypart.name, daypart_path(daypart) %></td>
						<td><%= daypart.photo %></td>
					</tr>
				<% end %>
			</ul>
		</table>
	<% else %>
		<%= render '/layouts/restricted' %>
	<% end %>
</div>