<div class="container" id="about"><p>Iffy helps you make decisions. Using location-aware technology, explore your neighborhood on foot, bike, or car.</p></div>

<span class="glyphicon glyphicon-search"></span>