/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";



html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
	margin-top: 35px;
  overflow:auto;
  padding-bottom: 220px; /* this needs to be bigger than footer height*/
}

footer {
	height: 60px;
	background-color: rgba(0,0,0,0.8);
	color: #666;
	font-size: 11px;
	position: relative;
    margin-top: -60px; /* negative value of footer height */
    clear:both;
}

.icon {
	padding-bottom: 5px;
}


.center {
	float: none;
	margin: 0 auto;
}

#recent
{
	width: 100%;
	font-size: 11px;
	color: #888;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: rgba(255,255,255,0.1);
}

.tall-btn {
	height: 50px;
}

.yelp-button > img {
	width: 150px;
	position: relative;
	bottom: 25px;

}

.map-button > img {
	width: 120px;
	position: relative;
	bottom: 25px;
}

.days > input {
	margin-left: 15px;
}

.sort > input {
	margin-left: 15px;
}

.dayparts > label {
	font-weight: normal;
	text-transform:capitalize;
	padding-right: 20px;
	padding-left: 3px;
}

.field_with_errors {
	@extend .has-error;
}

.form-wrapper {
	background: rgba(255,255,255,0.4);
	width: 300px;
	border-radius: 20px;
}

/* being used? */
.see-through {
	background-color: rgba(255,255,255,0.4);
	color: #222;
	font-size: 20px;
	height: 50px;
	width: 90%;
	margin-left: 15px;
}

.welcome {
	color: #FFF;
	font-size: 2.8em;
	font-weight: lighter;
	line-height: 1em;
	text-align: center;
	margin-top: .75em;
	margin-bottom: .75em;
}

.no-results {
	color: #666;
	font-size: 60px;
	font-weight: lighter;
	line-height: 60px;
	text-align: center;
	margin-top: 50px;
}

h1 {
	font-size: 2em;
}

h2 {
	padding-top: .5em;
	color: #FFF;
	font-family: 'helvetica';
	font-weight: bolder;
	font-size: 7vw;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	margin: 10px;
	line-height: 1.1em;
}

h2 > a {
	color: #FFF;
}

h2 > a:hover {
	color: #FFF;
}

#mood-for {
	font-weight: lighter;
	font-size: .8em;
}

header {
	min-height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#logo {
	float: left;
	width: 40%;
	color: white;
	margin-left: 20px;
	margin-top: -2px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	font-size: 50px;
}

#logo > #tagline {
	font-size: 12px;
	line-height: 12px;
	font-weight: lighter;
	font-family: 'Helvetica';
}

.checkboxes {
	background: #000;
	font-size: 30px;
	font-weight: normal;
	padding-right: 10px;
}

.taller-buttons {
	height: 100px;
	font-size: 28px;
	padding-top: 1em;
}

#auth {
	float: right;
	width: 40%;
	color: white;
	margin-top: 23px;
	margin-right: 20px;
	display: inline-block;
	text-align: right;
}

#auth > span > a {
	color: #FFF;
}

#profile {
	margin-top: 35px;
	height: 500px;
}

.avatar {
	border: 1px solid #999;
}

#profile-separator {
	border-top: 1px solid #CCC;
}

body {
	position: relative;
	top: 55px;

}

.mood-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 8px;
}

.mood-description {
	font-size: 14px;
}

.mood-choice {
	background-color: rgba(0,0,0,0.1);
	padding: 20px;
	margin: 10px;
/*	text-align: center;
*/	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 8px;
}

.mood-choice:hover {
	background-color: rgba(0,0,0,0.2);
	color: #FF1493;
	border: 2px solid #FF1493;
}

.no-underline > a {
	text-decoration: none;
}

.intro {
	color: #FFF;
	font-size: 5.5vw;
	font-weight: lighter;
	line-height: 1em;
	margin-top: 30px;
}
.name {
	color: #FFF;
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 10vw;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	line-height: 1em;
	margin-left: -3px;
}
.address {
	color: #FFF;
	font-size: 14px;
}
.snippet {
	color: #FFF;
	font-size: 5vw;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	line-height: 1.2em;
	margin-top: 20px;
	margin-bottom: 20px;
}
.yelp-image > img {
	border: 1px solid #EEE;
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	background-position: center center;
	background-size: cover;

}

td {
	padding: 5px;
}

.bottom-buffer { 
	margin-bottom:20px; 
}

#left-footer {
	float: left;
	position: relative;
	top: 10px;
	left: 20px;
	width: 200px;
}

#right-footer {
	float: left;
	left: 20px;
	position: relative;
	top: 10px;
}