/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	float: none;
	margin: 0 auto;
}

.field_with_errors {
	@extend .has-error;
}

.form-wrapper {
	background: rgba(255,255,255,0.4);
	width: 400px;
	border-radius: 20px;
	margin-bottom: 60px;
}

.see-through {
	background-color: rgba(255,255,255,0.4);
	color: #222;
	font-size: 20px;
	height: 50px;
	width: 90%;
	margin-left: 15px;
}

.welcome-home {
	color: #FFF;
	font-size: 60px;
	font-weight: lighter;
	line-height: 60px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

h2 {
	padding-top: 50px;
	color: #FFF;
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	margin: 10px;
	line-height: 60px;
}

h2 > a {
	color: #FFF;
}
h2 > a:hover {
	color: #FFF;
}

header {
	height: 55px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	left: 0px;
}

#logo {
	float: left;
	width: 120px;
	color: white;
	margin-left: 20px;
	margin-top: -2px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	font-size: 40px;
}

#logo > p {
	font-size: 12px;
	font-weight: lighter;
	font-family: 'Helvetica';
}

/*Strip the ul of padding and list styling*/
.nav > ul {
	list-style-type:none;
	margin:50;
	padding:50;
	position: relative;
}

/*Create a horizontal list with spacing*/
.nav ul li {
	display:inline-block;
	float: left;
	margin-right: 3px;
}

/*Prevent text wrapping*/
.nav li ul li a {
	width: auto;
	min-width: 70px;
	padding: 0 20px;
}

/*Style for menu links*/
.nav li a {
	display:block;
	min-width:100px;
	height: 55px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	text-decoration: none;
}
.nav li a:hover {
	background: rgba(255,255,255,0.1);
}

.checkboxes {
	background: #000;
	font-size: 30px;
	font-weight: normal;
	padding-right: 10px;
}

#auth {
	float: right;
	color: white;
	margin-top: -40px;
	margin-right: 15px;
}

#profile-pic {
	width: 40px;
}

body {
	position: relative;
	top: 50px;
}

.mood-choice {
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 8px;
	height: 150px;
}
.mood-choice:hover {
	background-color: rgba(0,0,0,0.2);
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.intro {
	color: #FFF;
	font-size: 40px;
	font-weight: lighter;
	line-height: 40px;
	margin-top: 30px;
}
.name {
	color: #FFF;
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 90px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	/*line-height: 10px;*/
	margin: 10px;
	line-height: 90px;
}
.address {
	color: #FFF;
	font-size: 14px;
}
.snippet {
	color: #FFF;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	line-height: 50px;
	margin-bottom: 50px;
}
.yelp-image > img {
	border: 1px solid #EEE;
	float: right;
	right: 30px;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-position: center center;
	background-size: cover;

}

td {
	padding: 5px;
}

.bottom-buffer { 
	margin-bottom:20px; 
}

footer {
	height: 150px;
	background-color: rgba(0,0,0,0.8);
	color: #666;
	font-size: 11px;
	width: 100%;
	position: relative;
	bottom: 0;
}

#left-footer {
	float: left;
	position: relative;
	top: 10px;
	left: 20px;
	width: 200px;
}

#right-footer {
	float: left;
	left: 20px;
	position: relative;
	top: 10px;
}