#moods > ul > li > img {
	width: 100px;
}

#mood > img {
	width: 200px;
	margin-top: 40px
}

#mood-image {
	width: 300px;
	float: right;
	color: #AAA;
	font-size: 11px;
	background-color: #EEE;
	margin-right: 20px;
}