
#place {
	background-color: rgba(255, 255, 255, 0.2);
	background-size: cover;
	color: #FFF;
	padding: 20px;
	margin: 50px 10px 0px 10px;
}

.intro {
	font-size: 20px;
}

.name {
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 100px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	/*line-height: 10px;*/
	margin: 10px;
}
.address {
	font-family: 'helvetica';
	font-size: 14px;
	line-height: 10px;
}
.tip {
	font-family: 'helvetica';
	font-size: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	margin: 10px;
}
