
#place {
	background-color: #000;
	background-size: cover;
	color: #FFF;
	padding: 20px;
}

.name {
	font-family: 'helvetica';
	font-size: 100px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	line-height: 10px;
}
.address {
	font-family: 'helvetica';
	font-size: 14px;
	line-height: 10px;
}
.tip {
	font-family: 'helvetica';
	font-size: 50px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.tip {
	font-family: 'helvetica';
	font-size: 50px;
}