<div id="categories" class="container">
<div class="form-group">
<h1>Categories</h1>
<%= link_to "Create New Category", new_category_path, :class => "btn btn-primary" %>
</div>
<table>
	<tr>
		<th>Name</th>
		<th>Path</th>
		<th>Total</th>
	</tr>
	<ul>
	<!-- LIST OF CATEGORIES -->
	<% @categories.order("name asc").each do |category| %>
	<tr>
		<td><%= category.name %></td>
		<td><%= category.path %></td>
		<td><%= category.total %></td>
	</tr>
	<% end %>
</ul>
</table>
<br>
</div>